@using MMAF.Models
@model Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to contact us!</p>



<form method="post" class="contactform">
  <div class="form-group">
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
    @Html.ValidationMessageFor(m => m.FirstName)
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)
    @Html.ValidationMessageFor(m => m.LastName)
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
  </div>

  <input type="submit" value="verstuur" />
</form>


<div class="boxed">
<p>Wij zijn het team van Dystopia. Via deze pagina kunt u gemakkelijk contact met ons opnemen en alle vragen stellen die u heeft. Vergeet zeker
    niet om eerst bij de FAQ te kijken voor de veelgestelde vragen om te kijken of we daar al antwoord hebben gegeven op uw vraag!
    <div>
    Telefoonnummer: 0612345678</div>
    
    <div>
    Email: festivaldystopia@gmail.com</div>
   
</p> 
</div>